@{
	ViewBag.Title = "Low Cost Flights";
}

<body>

		<div class="jumbotron">

			<h1>Niskobudžetni letovi</h1>
			<p>Pretraga niskobudžetnih letova</p>

			<div class="row">
				<div id="dxFlightsDataGrid"></div>
			</div>

		</div>

		<script src="~/Content/js/flightData.js">
			
		</script>
	</body>
